* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #1d1d1d;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  border-bottom: solid 0.1rem #af7135;
}

.logo {
  height: 80px;
  width: 250px;
  border-radius: 100px;
}

.navbar,
.navbar__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__ul {
  gap: 120px;
}

.navbar__ul li {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  list-style-type: none;
  cursor: pointer;
}

.navbar__ul a {
  text-decoration: none;
  color: #00c5e4;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar__ul a:hover {
  text-shadow: 3px 3px 3px #af7135;
}

body {
  background-color: #18171c;
}

#hero {
  display: flex;
  padding: 120px 80px;
  gap: 50px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero__info h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #00c5e4;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero__info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.hero__options {
  display: flex;
  padding: 30px 0;
  gap: 30px;
}

.hero__options button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border-radius: 1rem;
  width: 250px;
  padding: 15px 0px;
  border: solid black;
  font-weight: bold;
  cursor: pointer;
}

.hero__options button:nth-child(1) {
  background-color: #af7135;
}

.hero__img img {
  height: 300px;
  width: 550px;
  border-radius: 1rem;
  border: solid 0.2rem #141414;
}

.container__info {
  padding: 50px 160px;
}

.container__info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.container__info span {
  font-weight: bold;
}
